* {
    
}
.bg-info, .col-6, .btn-info
{
    border: 2px solid #1553b6;
    color: #f1f1f1;
}

.bg-color
{
    background-color: gray;
}

.bg-color
{
    background-color: gray;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #41719c;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color:#5b9bd5;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #41719C;
}
label.col-sm-3 {
    background-color: #5b9bd5;
    border: 2px solid #41719C;
    color: white;
}
.form-check-inline {
    margin-top: 9px;
}