/* .container {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #41719C;
} */

label.col-sm-2 {
    background-color: #70AD47;
    border: 2px solid #41719C;
    color: white;
    border-radius: 5px;
}

.form-check-inline {
    margin-top: 9px;
}

label {
    position: relative;
}

.col-sm-10 [type="text"],
.col-sm-5 [type="date"],
.col-sm-5 select,
.col-sm-10 textarea {
    border: 2px solid #41719C;
}

[type="submit"] {
    background-color: #70AD47;
    color: white;
    border: 2px solid #41719C;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px 10px;
}

.require {
    color: red;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.validate {
    color: red;
    font-weight: 500;
    margin-bottom: 20px;
}

.btn {
    background-color: #70ad47;
}
.btn-border {
    border: 3px solid #41719c;
}
.btn-back {
    background-color: #70ad47;
    border: 2px solid #41719c;
}